.grid-line {
  border-style: solid none none none;
  border-top-color: rgb(227, 165, 0);
  border-top-width: 2px;
  box-shadow: 2px 0 2px 1px rgb(235, 212, 139);
  margin: 0;
}

.grid {
  margin: 45px auto 35px;
  max-height: 100%;

  .grid-sizer,
  .grid-item {
    width: 400px;
  }

  .grid-item {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .empty-coll {
    width: max-content;
    margin: 50px auto;
    padding: 20px;
    color: rgb(3, 77, 3);
    background-color: rgb(150, 59, 214);
    border-radius: 10px;
    h3 {
      margin: 0;
      font-size: 2rem;
      text-align: center;
    }
    svg {
      margin-top: 20px;
    }
  }
}

// Pagination arrow styles
.pagination-cont {
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  width: max-content;

  .pagin-cont-description {
    color: rgb(81, 2, 172);
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
  }

  .pagination-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.1rem;
    height: 100px;
    padding: 0 0 65px 0;
    cursor: pointer;
    margin: 0 auto;
  }

  .chevron {
    position: absolute;
    width: $base * 3.5;
    height: $base * 0.8;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
  }

  .chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
  }

  .chevron::before,
  .chevron::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: $arrowColor;
  }

  .pagination-arrow:hover .chevron::before,
  .pagination-arrow:hover .chevron::after {
    background: $accentArrowColor;
  }

  .chevron::before {
    left: 0;
    transform: skewY(30deg);
  }

  .chevron::after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
  }

  @keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      transform: translateY($base * 3.8);
    }
    66.6% {
      opacity: 1;
      transform: translateY($base * 5.2);
    }
    100% {
      opacity: 0;
      transform: translateY($base * 8) scale(0.5);
    }
  }
}

// .pagination-buttons {
//   display: inline-flex;
//   min-width: 200px;
// }

// .interiorPaginCont {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
//   max-width: 675px;
//   margin: 0 5%;
// }

// .pagination-buttons__item {
//   margin-left: $buttonMargin;
//   padding: $buttonPadding;
//   border: none;
//   background-color: $buttonColor;
//   border-radius: 5px;
//   font-size: 20px;
//   font-weight: 900;
//   color: $buttonTextColor;
//   transition: border-radius 0.8s;
//   cursor: pointer;
//   text-align: center;
// }

// .btn-hover:hover {
//   background-color: $accentColor;
//   color: $accentColorText;
//   border-radius: 20px;
// }

// .active {
//   background-color: $activeColor;
//   color: $accentColorText;
//   border-radius: 20px;
//   border: none;
// }
