<div class="moveToTop" hidden>
  <i class="fas fa-chevron-circle-up fa-2x"></i>
</div>

<div class="footer">
  <div>
    <h2>About us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra
      nunc cursus tortor lectus nunc nulla nibh. Egestas amet consectetur vel
      vitae aliquam dictum suspendisse. Lobortis eget consequat, tellus et et
      sed turpis. Pretium quisque vitae, amet, porttitor odio ultricies massa
      pharetra leo. Et ipsum urna fames in sit mi ultrices nisi, nunc.
    </p>
  </div>
  <div>
    <h2>Сollections</h2>
    <div class="footer-list-cont">
      <span class="footer-list" data-coll="cheetah">cheetah</span>
      <span class="footer-list" data-coll="jewelry">jewelry</span>
      <span class="footer-list" data-coll="beach">beach</span>
      <span class="footer-list colspan-2" data-coll="architecture"
        >architecture</span
      >
      <span class="footer-list" data-coll="montana">montana</span>
    </div>
  </div>
  <div>
    <h2>Mailing</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra
      nunc cursus tortor lectus nunc nulla nibh.
    </p>
    <form method="POST">
      <div class="subscribe-case">
        <input type="email" name="email" id="email" placeholder="Your email" />
        <input type="submit" value="Subscribe" />
      </div>
    </form>
  </div>
</div>

<div class="bottom-line">
  <span>© 2021 All right reserved</span>
  <span
    ><a
      target="_blank"
      rel="noopener noreferrer"
      class="footer-link"
      href="https://t.me/strongBee_SD"
      ><i class="fab fa-telegram-plane fa-lg"></i></a
  ></span>
  <span>Develop by <span>strongBee</span></span>
</div>
