<div class="search-with-buttons">
  <div class="top">
    <input
      type="search"
      name="search-on-top"
      id="search-on-top"
      placeholder="Search free high-resolution photos"
      data-action="search-top-alert"
    />
  </div>

  <div>
    <ul class="menu">
      <li class="top-list" data-coll="ferrari">ferrari</li>
      <li class="top-list" data-coll="food">food</li>
      <li class="top-list" data-coll="fishing">fishing</li>
      <li class="top-list" data-coll="florence">florence</li>
      <li class="top-list" data-coll="tennis">tennis</li>
      <li class="top-list" data-coll="spaceX">spaceX</li>
    </ul>
  </div>

  <div class="your-coll-btn">Your collection</div>
</div>

<div class="query-alert search-top-alert" hidden>
  <p>No results</p>
</div>

<div class="title">
  <div class="content">
    <h1><span>IMG</span><span>gallery</span></h1>
    <p>
      The internet’s source of freely-usable images. Powered by
      <a href="https://unsplash.com/" target="_blank" rel="noopener noreferrer">
        Unsplash
      </a>
    </p>
    <input
      type="search"
      name="search-on-title"
      id="search-on-title"
      placeholder="Search free high-resolution photos"
      data-action="search-title-alert"
    />

    <div class="query-alert search-title-alert" hidden>
      <p>No results</p>
    </div>
  </div>
</div>
